<div class="col-lg-2">
  <div class="well sidebar-nav">
    <h3>Buscar</h3>
    <ul class="nav nav-list">
      <% Category.all.each do |category| -%>
        <li class='category' onclick="filter_category(<%= category.id -%>)">
          <%= image_tag category.icon.url -%>
        </li>
      <% end -%>
      <li class='category' onclick="filter_category(0)">
        <%= image_tag 'images.jpg' -%>
      </li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->