<nav class="nav-filter nav-aberta">
  <div class="wrap">
    <legend>Categorias</legend>
    <ul class="nav nav-list">
      <% Category.all.each do |category| -%>
      <li class='category' onclick="filter_category(<%= category.id -%>)">
        <%= image_tag category.icon.url, class: 'img-icon' -%>
      </li>
      <% end -%>
      <li class='category' onclick="filter_category(0)">
        <%= image_tag 'images.jpg', class: 'img-reset' -%>
      </li>
    </ul>
  </div>
</nav>
